In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def drop_db():
    # if you don't specify database name, then by default db name = username
    engine = create_engine('postgresql://root:root@localhost:5432/')
    connection = engine.connect()
    try:
        connection.execute('commit')
        connection.execute('DROP DATABASE IF EXISTS datacamp_relational_db')
        connection.execute('commit')
        
        # PostgreSQL does not support create if not exists syntax.
        connection.execute('CREATE DATABASE datacamp_relational_db')
    except Exception:
        print('Something went wrong')
    finally:
        connection.close()


drop_db()

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/datacamp_relational_db')

In [4]:
%load_ext sql
%sql postgresql://root:root@localhost:5432/datacamp_relational_db

In [5]:
%%sql
SELECT table_schema, table_name 
FROM information_schema.tables
LIMIT 5;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
5 rows affected.

[('pg_catalog', 'pg_statistic'),
 ('pg_catalog', 'pg_foreign_table'),
 ('pg_catalog', 'pg_authid'),
 ('pg_catalog', 'pg_shadow'),
 ('pg_catalog', 'pg_roles')]

## Specifying PRIMARY KEY
![PRIMARY KEYs](datasets/PRIMARY_KEYs.png)

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS professors (
    id BIGSERIAL PRIMARY KEY, -- Auto increment in psql
    firstname TEXT,
    lastname TEXT,
    university_shortname CHAR(3)
);

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS universities (
    university_shortname TEXT CONSTRAINT university_shortname_unique UNIQUE,
    university TEXT,
    university_city TEXT
);

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [8]:
%%sql
ALTER TABLE professors
ADD COLUMN IF NOT EXISTS university_shortname TEXT;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS affiliations (
    id BIGSERIAL PRIMARY KEY,
    firstname TEXT,
    lastname TEXT,
    university_shortname TEXT,
    function TEXT,
    organisation TEXT,
    professor_id BIGINT CONSTRAINT professor_fk REFERENCES professors (id)
);

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [10]:
%%sql
ALTER TABLE affiliations RENAME COLUMN organisation TO organization

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [11]:
%%sql
ALTER TABLE affiliations DROP COLUMN university_shortname;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [12]:
%%sql
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE CHAR(3);

ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE VARCHAR(16)
 -- After using you can specify function which you wanna use for casting data
USING SUBSTRING(firstname FROM 1 FOR 16);

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.
Done.

[]

In [13]:
%%sql
ALTER TABLE universities
DROP CONSTRAINT university_shortname_unique;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [14]:
%%sql
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unique UNIQUE(university_shortname);

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [15]:
%%sql
ALTER TABLE professors
ALTER COLUMN firstname SET NOT NULL;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [16]:
%%sql
ALTER TABLE universities
RENAME COLUMN university_shortname TO id;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [17]:
%%sql
ALTER TABLE professors 
ADD CONSTRAINT professors_fk FOREIGN KEY (university_shortname) 
REFERENCES universities (id) ON DELETE NO ACTION; -- default action

 * postgresql://root:***@localhost:5432/datacamp_relational_db
Done.

[]

In [18]:
%%sql
UPDATE affiliations
SET professor_id = p.id
FROM professors AS p
WHERE affiliations.firstname = p.firstname AND affiliations.lastname = p.lastname;

 * postgresql://root:***@localhost:5432/datacamp_relational_db
0 rows affected.

[]