In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

In [2]:
def drop_db():
    # if you don't specify database name, then by default db name = username
    engine = create_engine('postgresql://root:root@localhost:5432/')
    connection = engine.connect()
    try:
        connection.execute('commit')
        connection.execute('DROP DATABASE IF EXISTS datacamp_ffeic')
        connection.execute('commit')
        
        # PostgreSQL does not support create if not exists syntax.
        connection.execute('CREATE DATABASE datacamp_ffeic')
    except Exception:
        print('Something went wrong')
    finally:
        connection.close()


drop_db()

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/datacamp_ffeic')

In [4]:
!cd datasets/; psql postgresql://root:root@localhost:5432/datacamp_ffeic < ./ffeic.sql

NOTICE:  table "patients" does not exist, skipping
DROP TABLE
CREATE TABLE
NOTICE:  table "errors" does not exist, skipping
DROP TABLE
CREATE TABLE
INSERT 0 1
NOTICE:  table "ffiec_reci" does not exist, skipping
DROP TABLE
CREATE TABLE
COPY 899

In [5]:
%load_ext sql
%sql postgresql://root:root@localhost:5432/datacamp_ffeic

## Transactions

Using default isolation level

In [6]:
%%sql
BEGIN;

UPDATE ffiec_reci
SET RCONP752 = 'true'
WHERE RCON2365 > 5000000;

COMMIT;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
227 rows affected.
Done.

[]

Specifying another isolation level (for postgresql it is `READ COMMITTED`)

In [7]:
%%sql
START TRANSACTION ISOLATION LEVEL REPEATABLE READ;

SELECT COUNT(RCON2210)
FROM ffiec_reci
WHERE RCON2210 > 100000000;

SELECT COUNT(RCON2210)
FROM ffiec_reci
WHERE RCON2210 > 100000000;

COMMIT;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
1 rows affected.
1 rows affected.
Done.

[]

## Transaction with ROLLBACK

In [8]:
%%sql
SELECT COUNT(RCONP752) FROM ffiec_reci WHERE RCONP752 = 'true';

 * postgresql://root:***@localhost:5432/datacamp_ffeic
1 rows affected.

[(227,)]

In [9]:
%%sql
BEGIN;

UPDATE ffiec_reci
SET RCONP752 = 'true'
WHERE RCON2365 > 5000;

ROLLBACK;
COMMIT;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
338 rows affected.
Done.
Done.

[]

In [10]:
%%sql
SELECT COUNT(RCONP752) FROM ffiec_reci WHERE RCONP752 = 'true';

 * postgresql://root:***@localhost:5432/datacamp_ffeic
1 rows affected.

[(338,)]

## TRANSACTION with SAVEPOINT
PostgreSQL does not support true nested transactions, but you can use multiple savepoints to achieve samre result.

In [11]:
%%sql
-- Cannot make a real transation with sql notebook
-- BEGIN;

-- UPDATE ffiec_reci set FIELD48 = 'MMDA+' WHERE RCON6810 > 6000000;
-- SAVEPOINT mmdaplus_flag_set;
-- UPDATE ffiec_reci set FIELD48 = 'MMDA+' WHERE RCON6810 > 5000000;

-- ROLLBACK TO mmdaplus_flag_set;
-- COMMIT;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Cannot make a real transation with sql notebook
-- BEGIN;

-- UPDATE ffiec_reci set FIELD48 = 'MMDA+' WHERE RCON6810 > 6000000;
-- SAVEPOINT mmdaplus_flag_set;
-- UPDATE ffiec_reci set FIELD48 = 'MMDA+' WHERE RCON6810 > 5000000;

-- ROLLBACK TO mmdaplus_flag_set;
-- COMMIT;]
(Background on this error at: http://sqlalche.me/e/f405)

In [12]:
%%sql
-- BEGIN;
--     INSERT INTO table1 VALUES (3);
--    SAVEPOINT my_savepoint;
--    INSERT INTO table1 VALUES (4);
--    RELEASE SAVEPOINT my_savepoint; -- removes the savepoint
-- COMMIT;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- BEGIN; -- INSERT INTO table1 VALUES (3);
--    SAVEPOINT my_savepoint;
--    INSERT INTO table1 VALUES (4);
--    RELEASE SAVEPOINT my_savepoint; -- removes the savepoint
-- COMMIT;]
(Background on this error at: http://sqlalche.me/e/f405)

![SERIALIZABLE vs REPEATABLE READ](datasets/TRANSACTIONS.png)
Also, when you choose SERIALIZABLE, transactions are executed in sequential way

## Exception Handling
You can handle exceptions only inside a procedure.

In [13]:
%%sql
DO $$
BEGIN 
    INSERT INTO patients (a1c, glucose, fasting, created_on) 
    VALUES (5.8, 89, TRUE, '37-03-2020 01:15:54'); -- 37th day of a month
EXCEPTION
WHEN others THEN 
    INSERT INTO errors (msg, detail) 
    VALUES ('failed to insert', 'bad date');
END;
$$ language 'plpgsql';

SELECT * FROM errors;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
1 rows affected.

[(1, None, 'failed to insert', 'bad date', None)]

Each block (BEGIN->END) executes as a single transaction. Using exception handler prevents from using savepoints, but you can use multiple blocks.

In [14]:
%%sql
DO $$
BEGIN
    -- Open a nested block
    BEGIN
        INSERT INTO patients (a1c, glucose, fasting) 
        VALUES (5.6, 93, TRUE), (6.3, '111asdf', TRUE), (4.7, 65, TRUE);
    EXCEPTION WHEN others THEN
        INSERT INTO errors (msg) VALUES ('NOT today');
    END;
    
    -- Begin the second nested block
    BEGIN
        UPDATE patients SET fasting = 'true' WHERE id=1;
    EXCEPTION WHEN others THEN
        INSERT INTO errors (msg) VALUES ('Insert string into boolean.');
    END;
-- END the outer block
END;
$$ language 'plpgsql'; -- default language
SELECT * FROM errors;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
3 rows affected.

[(1, None, 'failed to insert', 'bad date', None),
 (2, None, 'NOT today', None, None),
 (3, None, 'Insert string into boolean.', None, None)]

### Catching specific exception

In [15]:
%%sql
DO $$
BEGIN
    INSERT INTO patients (a1c, glucose, fasting) 
    VALUES (7.5, NULL, TRUE);
EXCEPTION
    WHEN check_violation THEN
       INSERT INTO errors (msg, detail)
       VALUES ('failed to insert', 'check_violation');
    WHEN not_null_violation THEN
       INSERT INTO errors (msg, detail) 
       VALUES ('failed to insert', 'Glucose can not be null.');
END$$;

SELECT * FROM errors;

 * postgresql://root:***@localhost:5432/datacamp_ffeic
Done.
4 rows affected.

[(1, None, 'failed to insert', 'bad date', None),
 (2, None, 'NOT today', None, None),
 (3, None, 'Insert string into boolean.', None, None),
 (4, None, 'failed to insert', 'Glucose can not be null.', None)]